<div class="uk-container uk-margin-top uk-margin-large-bottom">
  <ul class="dancing-script uk-breadcrumb uk-text-center">
    <li><a href="#home" [attr.uk-scroll]="''">Home</a></li>
    <li><a href="#gallery" [attr.uk-scroll]="''">Gallery</a></li>
    <li><span [attr.uk-icon]="'instagram'"></span><a class="uk-margin-small-left" href="https://www.instagram.com/jasi_showjumping">Follow me on Instagram</a></li>
    <li><span [attr.uk-icon]="'user'"></span><a class="uk-margin-small-left">Jasmin Stangl</a></li>
  </ul>
</div>
