<div class="uk-container uk-height-viewport" id="home">
  <img alt="Riding" class="uk-align-center uk-margin-large-top uk-animation-fade uk-animation-slide-top-medium" src="assets/rider.svg"
       style="max-height: 400px; height: auto; width: auto;"/>
  <h1 class="dancing-script uk-heading-xlarge uk-text-center uk-animation-fade uk-animation-slide-bottom-medium">Pursuing my dreams</h1>
  <h2 class="dancing-script uk-heading-medium uk-text-center uk-animation-fade uk-animation-slide-bottom">One jump at a time</h2>
  <a class="uk-text-muted uk-position-bottom-center uk-margin-medium-top uk-animation-fade" href="#gallery" [attr.uk-scroll]="''"><span [attr.uk-icon]="'icon: chevron-down; ratio: 3'"></span></a>
</div>
