<div class="uk-container uk-margin-large-top" [attr.uk-scrollspy]="'uk-animation-fade'">
  <h2 class="dancing-script uk-heading-large uk-text-center uk-margin-large-top" [attr.uk-scrollspy]="'uk-animation-fade'" id="gallery">Gallery</h2>
  <hr class="uk-divider-icon" [attr.uk-scrollspy]="'uk-animation-fade'">
  <div class="uk-padding-large uk-padding-remove-top uk-padding-remove-bottom uk-position-relative uk-visible-toggle uk-light" tabindex="-1" [attr.uk-slideshow]="''">
    <ul class="uk-slideshow-items">
      <li>
        <img src="assets/pictures/jump1.jpg" alt="" [attr.uk-cover]="''">
      </li>
      <li>
        <img src="assets/pictures/jump2.jpg" alt="" [attr.uk-cover]="''">
      </li>
      <li>
        <img src="assets/pictures/jump3.jpg" alt="" [attr.uk-cover]="''">
      </li>
      <li>
        <img src="assets/pictures/jump4.jpg" alt="" [attr.uk-cover]="''">
      </li>
      <li>
        <img src="assets/pictures/jump5.jpg" alt="" [attr.uk-cover]="''">
      </li>
    </ul>
    <a class="uk-text-secondary uk-position-center-left uk-position-small" href="#" [attr.uk-slidenav-previous]="''" [attr.uk-slideshow-item]="'previous'" style="color: #000 !important;"></a>
    <a class="uk-text-secondary uk-position-center-right uk-position-small" href="#" [attr.uk-slidenav-next]="''" [attr.uk-slideshow-item]="'next'" style="color: #000 !important;"></a>
  </div>
  <hr class="uk-divider-icon" [attr.uk-scrollspy]="'uk-animation-fade'">
</div>
